body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}

#gameInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#health,
#happiness,
#money {
    font-weight: bold;
}

#gameInfo p {
    margin: 5px 0;
}

#gameInfo p span {
    font-weight: normal;
}



button {
    background-color: #5cb85c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #4cae4c;
    margin: 20px auto;
}


